<p>
  <b>First Name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last Name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<!-- internationalization !-->
<p>
  <b>Birthday:</b>
  <%= @user.birthday.strftime("%m/%d/%Y") %>
</p>

<p>
  <b>Sex:</b>
  <%= @user.gender %>
</p>

<%= link_to 'Edit pass', edit_password_path(@user) %>
<%= link_to 'Edit', edit_user_path(@user) %>
